/* Archivo: index.css */
body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    color: #555;
    font-size: 1rem;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

footer {
    background-color: #343a40;
    padding: 10px 0;
    color: white;
}








