<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="carrito-container">
        <h1>Carrito de Compras</h1>

        {% if carrito_items %}
            <div class="tabla-carrito">
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Imagen</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in carrito_items %}
                            <tr>
                                <td>{{ item[0] }}</td> <!-- Nombre del producto -->
                                <td>${{ item[1] }}</td> <!-- Precio -->
                                <td>{{ item[2] }}</td> <!-- Cantidad -->
                                <td>${{ item[1] * item[2] }}</td> <!-- Total por producto -->
                                <td><img src="{{ url_for('static', filename='image/' + item[3]) }}" alt="{{ item[0] }}" class="imagen-producto"></td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="total-carrito">
                <h3>Total: ${{ total }}</h3>
                <form method="POST">
                    <button type="submit" class="btn-finalizar-compra">Finalizar Compra</button>
                </form>
            </div>
        {% else %}
            <p>Tu carrito está vacío.</p>
        {% endif %}

        <div class="enlaces-carrito">
            <a href="{{ url_for('tienda') }}" class="btn-volver">Volver a la tienda</a>
            <a href="{{ url_for('logout') }}" class="btn-cerrar-sesion">Cerrar sesión</a>
        </div>
    </div>
</body>
</html>













