<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda en Línea</title>
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('registro') }}">Registro</a></li>
                <li><a href="{{ url_for('carrito') }}">Carrito</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="productos">
            <h2>Productos</h2>
            <div class="productos-container">
                {% for producto in productos %}
                <div class="producto">
                    <img src="{{ url_for('static', filename='image/' + producto[4]) }}" alt="{{ producto[1] }}">
                    <h3>{{ producto[1] }}</h3>
                    <p>{{ producto[2] }}</p>
                    <p>${{ producto[3] }}</p> <!-- El precio ya es un entero, no es necesario formatearlo -->
                    <form action="{{ url_for('agregar_al_carrito') }}" method="POST">
                        <input type="hidden" name="producto_id" value="{{ producto[0] }}">
                        <input type="number" name="cantidad" min="1" value="1" required>
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Tienda en Línea</p>
    </footer>
</body>
</html>








